{% extends "app/layout.html" %}

{% block content %}

<div class="py-5 px-3 text-center">
    
    <h2>{{ title }}</h2>
    <b>{{ message }}</b>

    <div class="row py-5 px-3">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8">
            <p>The OneApp platform was created by students for students. We know the struggles of trying to get through courses alone. That is why we created a platform for students to share resources, study notes and chat with people in their courses.</p>
        </div>
    </div>
    
    

 
</div>



{% endblock %}
