{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>OneApp</h1>
    <p class="lead">OneApp is a platform for Wilfred Laurier University Students to help eachother and share information.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Group Chats</h2>
        <p>
            Join dedicated group chats for the classes you are taking!
        </p>

    </div>
    <div class="col-md-4">
        <h2>Resource Pages</h2>
        <p>Share and view resources specific to the topics covered in your classes.</p>

    </div>
    <div class="col-md-4">
        <h2>Question Boards</h2>
        <p>Ask and answer questions about deadlines, projects, tests, and much more!</p>

    </div>
</div>

{% endblock %}
